.u-section-1 .u-sheet-1 {
  min-height: 1166px;
}

.u-section-1 .u-text-1 {
  margin: 76px 497px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 186px auto 60px 468px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 297px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 268px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 77px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}